/*****************Обнулениe********************/
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	font-weight: 500;
	color: #252b42;
	font-family: Montserrat;
}
/*---------------------------wrapper--------------------------------------*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/*--------------------------container-------------------------------*/
._container {
	max-width: 1046px;
	padding: 0 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
/*--------------------------Ibg-------------------------------*/
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*--------------------------header---------------------------------------*/
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
}
.header__logo {
	font-weight: 700;
	font-size: 24px;
	color: inherit;
}
.header__menu {
	margin-left: 103px;
}
@media (max-width: 992px) {
	.header__menu {
		margin-left: 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin-left: 40px;
	}
}
@media (max-width: 479px) {
	.header__menu {
		margin-left: 20px;
	}
}
.menu {
	padding: 5px 0;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {
}
.menu__item:not(:last-child) {
	margin-right: 21px;
}
.menu__link {
	color: #737373;
	font-weight: 600;
	line-height: 171%;
}
.menu__link:hover {
	text-decoration: underline;
}
@media (max-width: 479px) {
	.menu__link {
		font-size: 18px;
	}
}

/*--------------------------Page---------------------------------------*/
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
	position: relative;
	z-index: 2;
	margin-top: -111px;
}
.page__advantages {
}
.page__practice {
}
.page__whoveare {
}
.page__clients {
	margin: 0px 0px 10px 0px;
}
.page__subscribe {
}
.page__getintouch {
}
.page__contact {
}
/*--------------------------Header-Block----------------------------------*/
.header-block {
	text-align: center;
	letter-spacing: 0.2px;
}
.header-block__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 142%;
	color: #252b42;
}
.header-block__title:not(:last-child) {
	margin-bottom: 10px;
}
.header-block__sub-title {
	font-weight: 500;
	font-size: 14px;
	line-height: 142%;
	color: #737373;
}
@media (max-width: 992px) {
	.header-block__title {
		font-size: 35px;
	}
}
@media (max-width: 767px) {
	.header-block__title {
		font-size: 30px;
	}
}
/*--------------------------Footer---------------------------------------*/
.footer {
}
/*--------------------------Main-block-----------------------------------*/
.main-block {
	position: relative;
}
.main-block__container {
}
.main-block__body {
	padding: 184px 0px 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 400px;
}
@media (max-width: 992px) {
	.main-block__body {
		padding: 120px 0px 191px 0px;
	}
}
.main-block__body > *:not(:last-child) {
	margin-bottom: 35px;
}
.main-block__title {
	font-size: 58px;
	line-height: calc(80 / 58 * 100%);
	font-weight: 800;
}
@media (max-width: 479px) {
	.main-block__title {
		font-size: 42px;
	}
}
.main-block__text {
	color: #737373;
	font-size: 20px;
	font-weight: 500;
	line-height: calc(30 / 20 * 100%);
}
.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0px;
}
.main-block__button {
	border-radius: 37px;
	display: flex;
	min-height: 48px;
	letter-spacing: 0.2px;
	font-weight: 700;
	line-height: 150%;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 0px 36px;
	margin: 10px 0px;
}
@media (max-width: 479px) {
	.main-block__button {
		flex: 1 1 100%;
	}
}
@media (min-width: 479px) {
	.main-block__button:not(:last-child) {
		margin-right: 10px;
	}
}
.main-block__button__orange {
	background: #ff7b47;
	color: #fff;
}
.main-block__button__border {
	border: 1px solid #0d5c63;
	color: #0d5c63;
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}
@media (max-width: 992px) {
	.main-block__image {
		opacity: 0.5;
	}
}
/*--------------------------Service-block---------------------------------*/

.services {
}
.services__container {
}
.services__body {
}
@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px -30px;
	}
}
.services__column {
	flex: 0 1 33.333%;
	margin-bottom: 30px;
}
@media (min-width: 670px) {
	.services__column {
		padding: 0px 15px;
	}
}
@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
}
.services__item {
	height: 100%;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background: #fff;
	padding: 35px;
}
.item-service {
}
.item-service > *:not(:last-child) {
	margin-bottom: 10px;
}
.item-service_green {
	background: #0d5c63;
}
.item-service_green .item-service__title {
	color: #fff;
}
.item-service_green .item-service__text {
	color: #fff;
}
.item-service__icon {
}
.item-service__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
	color: #252b42;
}
.item-service__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.2px;
	color: #737373;
}
/*--------------------------Advantages-block----------------------------*/
.advantages {
	padding: 80px 0px;
}
@media (max-width: 992px) {
	.advantages {
		padding: 50px 0px;
	}
}
@media (max-width: 767px) {
	.advantages {
		padding: 40px 0px;
	}
}
.advantages__container {
}
.advantages__header {
	margin-bottom: 50px;
}
@media (max-width: 767px) {
	.advantages__header {
		margin-bottom: 25px;
	}
}
.advantages__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px -30px;
}
.advantages__column {
	padding: 0 15px;
	margin-bottom: 30px;
	flex: 0 1 25%;
}
@media (max-width: 1020px) {
	.advantages__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 560px) {
	.advantages__column {
		flex: 0 1 100%;
	}
}
.advantages__item {
	background: #fff;
	padding: 30px;
	font-weight: 700;
	text-align: center;
}
.advantages__item > *:not(:last-child) {
	margin-bottom: 10px;
}
.advantages__icon {
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.advantages__value {
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
}
.advantages__text {
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.1px;
	color: #737373;
}
/*--------------------------Advantages-block----------------------------*/

.practice {
	padding: 125px 0px 80px 0px;
}
@media (max-width: 993px) {
	.practice {
		padding: 40px 0px 80px 0px;
	}
}
@media (max-width: 767px) {
	.practice {
		padding: 0px 0px 40px 0px;
	}
}
.practice__container {
}
.practice__header {
	margin-bottom: 45px;
}
@media (max-width: 767px) {
	.practice__header {
		margin-bottom: 25px;
	}
}
.practice__body {
	margin: 0 -20px -30px;
	display: flex;
	flex-wrap: wrap;
}
.practice__column {
	padding: 0 20px;
	margin-bottom: 30px;
	flex: 0 1 25%;
}
@media (max-width: 1040px) {
	.practice__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 630px) {
	.practice__column {
		flex: 0 1 100%;
	}
}
.practice__item {
}
.item-practice {
	background: #fff;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.item-practice__contant {
	padding: 30px;
	flex: 1 1 auto;
}
.item-practice__link {
	color: inherit;
	display: inline-block;
}
.item-practice__link:hover {
	text-decoration: underline;
}
.item-practice__link:not(:last-child) {
	margin-bottom: 15px;
}
.item-practice__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
}
.item-practice__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.2px;
	color: #737373;
}
.item-practice__img {
	display: block;
	padding-bottom: 60%;
}
/*--------------------------Whoveare-block----------------------------*/

.whoveare {
	background: #fff;
	padding: 80px 0px 130px 0px;
}
@media (max-width: 950px) {
	.whoveare {
		padding: 50px 0px 50px 0px;
	}
}
.whoveare__container {
}
.whovear__header {
	margin-bottom: 100px;
}
@media (max-width: 950px) {
	.whovear__header {
		margin: 0px 0px 30px 0px;
	}
}
.whoveare__body {
	display: flex;
	align-items: flex-start;
}
@media (max-width: 950px) {
	.whoveare__body {
		flex-direction: column-reverse;
		align-items: stretch;
	}
}
.whoveare__video {
	flex: 0 0 57%;
	position: relative;
	padding-bottom: 42.25%;
}
.whoveare__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
@media (max-width: 950px) {
	.whoveare__video {
		padding: 0px 0px 56.25% 0px;
		margin: 50px 0px 0px 0px;
	}
}
.whoveare__content {
	flex: 1 1 auto;
	padding: 20px 0px 0px 121px;
}
@media (max-width: 1080px) {
	.whoveare__content {
		padding: 0px 0px 0px 50px;
	}
}
@media (max-width: 950px) {
	.whoveare__content {
		padding: 0px 0px 0px 0px;
	}
}
.whoveare__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
}
.whoveare__title:not(:last-child) {
	margin-bottom: 10px;
}
@media (max-width: 950px) {
	.whoveare__title {
		font-size: 24px;
	}
}
.whoveare__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.2px;
	color: #737373;
}

.whoveare__items {
	padding-top: 50px;
}
.whoveare__item {
}
.whoveare__item:not(:last-child) {
	margin-bottom: 30px;
}
.item-whoveare {
	display: flex;
}

.item-whoveare__icom {
	flex: 0 0 32px;
}
.item-whoveare__body {
	flex: 1 1 auto;
	padding-left: 20px;
}
.item-whoveare__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
}
.item-whoveare__title:not(:last-child) {
	margin-bottom: 5px;
}
.item-whoveare__text {
	font-weight: 600;
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.2px;
	color: #737373;
}

/*--------------------------Clients-block----------------------------*/

.clients {
	padding: 50px 0;
}
@media (max-width: 767px) {
	.clients {
		padding: 30px 0;
	}
}
.clients__container {
}
.clients__items {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}
.clients__item {
	padding: 8px 15px;
	flex: 0 1 16.6667%;
	text-align: center;
	min-width: 140px;
}
.clients__item img {
	max-width: 100%;
}
/*--------------------------Subscribe-block----------------------------*/

.subscribe {
	position: relative;
	padding-bottom: 20px;
}
.subscribe::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 77px;
	left: 0;
	background: #252b42;
}
.subscribe__container {
}
.subscribe__body {
	position: relative;
	z-index: 2;
	margin: 0 30px;

	padding: 30px 50px;
	align-items: center;
	background: #17213c;
	border-radius: 2px;
}
@media (min-width: 1070px) {
	.subscribe__body {
		margin: 0 30px;
	}
}

.subscribe__title {
	max-width: 266px;
	font-size: 24px;
	font-weight: 700;
	line-height: 133%;
	letter-spacing: 0.1px;
	color: #ffffff;
}
@media (max-width: 810px) {
	.subscribe__title {
		margin: 0px 0px 20px 0px;
	}

	.subscribe__body {
		margin: 0 -15px;
		padding: 20px 25px;
	}
}
@media (min-width: 810px) {
	.subscribe__title {
		max-width: 266px;
	}
	.subscribe__body {
		display: flex;
		justify-content: space-between;
	}
}
.subscribe__form {
	flex: 0 1 50%;
	display: flex;
	align-items: center;
}
.subscribe__input {
	width: 100%;
	flex: 1 1 auto;
	min-height: 58px;
	padding: 0 20px;
	font-size: 14px;
	line-height: 200%;
	letter-spacing: 0.2px;
	color: #737373;
	background: #f9f9f9;
	border: 1px solid #e6e6e6;
	border-radius: 5px 0 0 5px;
	border-right: 0;
}
.subscribe__input:focus {
	color: #000;
}
.subscribe__button {
	background: #ff7b47;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	border-radius: 0px 5px 5px 0px;
	min-height: 58px;
	font-size: 14px;
	line-height: 200%;
	letter-spacing: 0.2px;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 22px;
}
@media (max-width: 810px) {
	.subscribe__input {
		padding: 0 15px;
	}
	.subscribe__button {
		padding: 0 15px;
	}
}

/*--------------------------Getintouch-block----------------------------*/

.getintouch {
	padding: 80px 0px 135px 0px;
}
.getintouch__container {
}
.getintouch__header {
	margin: 0px 0px 80px 0px;
}
.getintouch__items {
	margin: -15px;
}
.getintouch__item {
	flex: 0 1 33.333%;
}
.item-getintouch {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #fff;
	padding: 50px 15px;
}
.item-getintouch_active {
	padding: 80px 15px;
	background: #252b42;
	color: #fff;
}
.item-getintouch_active .item-getintouch__button {
	color: #fff;
	border: 1px solid #ffffff;
}

.item-getintouch > *:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.item-getintouch__icom {
}
.item-getintouch__emails {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.item-getintouch__email {
	color: inherit;
	font-weight: 600;
	font-size: 14px;
	line-height: 171%;
	text-align: center;
	letter-spacing: 0.2px;
}
.item-getintouch__email:hover {
	text-decoration: underline;
}
.item-getintouch__lable {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
}
.item-getintouch__button {
	min-height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.2px;
	color: #ff7b47;
	border: 1px solid #ff7b47;
	transition: all 0.3s ease 0s;
	border-radius: 5px;
	padding: 5px 20px;
}
.item-getintouch__button:hover {
	border: 1px solid #ff4b47;
	background: #ff7b47;
	color: #fff;
}
@media (min-width: 992px) {
	.getintouch {
		padding: 50px 0px;
	}
	.getintouch__items {
		margin: 0;
		display: flex;
		align-items: center;
	}
}
@media (max-width: 992px) {
	.getintouch__header {
		margin: 0px 0px 50px 0px;
	}

	.item-getintouch_active {
		padding: 50px 15px;
	}
}
@media (max-width: 767px) {
	.getintouch__header {
		margin: 0px 0px 30px 0px;
	}
}

/*--------------------------Contact-block----------------------------*/

.contact {
	background: #fff;
	padding: 42px 0;
}
.contact__container {
}

.contact__content {
	padding: 0px 0px 20px 0px;
}
.contact__tittle {
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
}
.contact__tittle:not(:last-child) {
	margin-bottom: 10px;
}
.contact__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.2px;
	color: #737373;
}
.contact__button {
	display: flex;
	background: #ff7b47;
	border-radius: 5px;
	min-height: 58px;
	padding: 5px 40px;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 200%;
	letter-spacing: 0.2px;
	color: #ffffff;
	transition: all 0.3s ease 0s;
}
.contact__button:hover {
	color: #ff7b47;
	border: 1px solid #ff7b47;
	background: #fff;
}
@media (min-width: 767px) {
	.contact__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.contact__content {
		padding: 0px 20px 0px 0px;
	}
}

/*--------------------------Footer----------------------------*/
.footer {
}
.footer__top {
	background: #17213c;
	padding: 35px 0;
}
.footer__main {
}
.footer__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.footer__column {
	padding: 15px 15px;
	flex: 0 1 16.667%;
}
.footer__column:last-child {
	flex: 0 1 33.334%;
}
@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 25%;
	}
	.footer__column:last-child {
		flex: 1 1 100%;
	}
}
@media (max-width: 767px) {
	.footer__column {
		flex: 0 1 50%;
	}
}
.footer__lable {
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 158%;
	letter-spacing: 0.1px;
	margin-bottom: 20px;
}
.footer_nemu {
}
.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item {
}
.menu-footer__item:not(:last-child) {
	margin-bottom: 10px;
}
.menu-footer__link {
	color: #fff;
	font-weight: 600;
	display: inline-block;
	font-size: 14px;
	line-height: 171%px;
	letter-spacing: 0.2px;
}
.menu-footer__link:hover {
	text-decoration: underline;
}
.footer__contacts {
}
.contacts-footer {
	display: flex;
	flex-direction: column;
}
.contacts-footer__item {
	padding: 0px 0px 0px 34px;
	line-height: 142%;
	display: flex;
	align-items: center;
	letter-spacing: 0.2px;
	color: #fff;
	min-height: 30px;
}
.contacts-footer__item:hover {
	text-decoration: underline;
}
.contacts-footer__item:not(:last-child) {
	margin: 0px 0px 12px 0px;
}
.contacts-footer__item_phone {
	background: url("../img/footer/icons/01.svg") 0 0 no-repeat;
}
.contacts-footer__item_map {
	background: url("../img/footer/icons/02.svg") 0 0 no-repeat;
}
.contacts-footer__item_email {
	background: url("../img/footer/icons/03.svg") 0 0 no-repeat;
}
.footer__bottom {
	background: #fafafa;
	padding: 25px 0;
}
.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__copy {
	color: #737373;
	line-height: 171%;
	font-weight: 600;
	letter-spacing: 0.2px;
}
.footer__social {
}
.social {
	display: flex;
	align-items: center;
}
.social__item:not(:last-child) {
	margin: 0px 20px 0px 0px;
}

@media (max-width: 767px) {
	.footer__container {
		flex-direction: column;
	}
	.footer__copy {
		margin: 0px 0px 15px 0px;
		text-align: center;
	}
}
